<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rust-mini-games • about</title>
    <style>
        body {
            background:         #000;
            color:              #FFF;
        }

        a {
            color:              #FC0;
        }

        h1 {
            text-align:         center;
        }

        hr {
            border:     none;
            border-top: 1px dashed currentcolor;
            margin:     2em 0;
        }

        #content {
            box-sizing: border-box;
            max-width:  80ch;
            position:   absolute;
            left:       50%;
            transform:  translate(-50%, 0);
        }
    </style>
</head><body><div id="content">
    <h1>rust-mini-games • about</h1>

    <p>Daniel "Syn9" Kennedy made some mini-games in Rust and <a href="https://news.ycombinator.com/item?id=26089539">shared them on HN</a>.
    For more, see <a href="https://github.com/Syn-Nine/rust-mini-games">GitHub</a> and <a href="http://www.syn-nine.com/">website</a>.</p>

    <p>I thought that was a perfect excuse to show off my own project, <a href="https://github.com/MaulingMonkey/cargo-html"><code>cargo html</code></a>,
    designed to trivially turn Rust programs into websites.  I needed to apply a few
    <a href="https://github.com/MaulingMonkey/rust-mini-games/commits/cargo-html-demo">minor patches</a>, but check 'em out!</p>


    <h1>Licenses</h1>
    These apply to the distributed <code>wasm32-wasi</code> build specifically.
    Additional dependencies and their licenses may apply for other platforms / building.
    This list was generated with <a href="https://github.com/EmbarkStudios/cargo-about">cargo about</a>.

    <hr>
    <h3 id="rust-mini-games">MIT License</h3>
    <h4>Used by:</h4>
    <ul class="license-used-by">
        <li><a href="https://github.com/Syn-Nine/rust-mini-games"     >rust-mini-games</a></li>
        <li><a href="https://github.com/MaulingMonkey/rust-mini-games">my patches</a></li>
    </ul>
    <pre class="license-text">MIT License

Copyright (c) 2020 Daniel "Syn9" Kennedy

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</pre>

    {{#each licenses}}
    <hr>
    <h3 id="{{id}}">{{name}}</h3>
    <h4>Used by:</h4>
    <ul class="license-used-by">
        {{#each used_by}}
        <li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
        {{/each}}
    </ul>
    <pre class="license-text">{{text}}</pre>
    {{/each}}
</div></body></html>
